---
import BaseHead from "../components/BaseHead.astro";

---

<!DOCTYPE html>
<html lang="en">
	<BaseHead
		title=""
		description=""
		image=""
	/>
	<body>
		<SkipMain />
		<header>
			<NavMain />
		</header>
		<main>
			<section class="hero" role="banner">
				<div class="padding-hero">
					<div class="container">
						<div class="wrapper-hero">
							<div class="wrapper">
								<h1 class="title-page">
									The West Valley's <br />
									<span class="title-page-highlight">HVAC Experts</span>
								</h1>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
</html>
