<div class="cta-card main-card">
    <div class="cta-card-content">
        <h3 class="title-page white">
            Need Emergency<br />
            <span class="title-page highlight">HVAC Service?</span>
        </h3>
        <p class="body-text white short">
            HVAC emergencies don't wait for business hours. If you're experiencing a heating or cooling emergency, call us now for immediate assistance.
        </p>
        <div class="wrapper-button">
            <a
                href="/get-started"
                class="button-primary"
                aria-label="Join the Mod Squad"
            >
                Call Now
            </a>
        </div>
    </div>
</div>