<div class="cta-card main-card">
    <div class="cta-card-content">
        <h3 class="title-page white">
            Ready for Reliable<br />
            <span class="title-page highlight">HVAC Service?</span>
        </h3>
        <div class="wrapper-button">
            <a
                href="/get-started"
                class="button-primary"
                aria-label="Join the Mod Squad"
            >
                Get a Free Quote
            </a>
            <a
                href="/schedule a call"
                class="button-secondary"
                aria-label="Schedule A Free Call with Our Team"
            >
                Call Us Today
            </a>
        </div>
    </div>
</div>