---
---
<aside
  class="cta-card mod-card"
  role="complementary"
  aria-labelledby="modcta-title"
>
  <div class="cta-card-content">
    <h3 id="modcta-title" class="title-page white">
      Join the Mod<br />
      <span class="title-page highlight">Squad Today</span>
    </h3>
    <div class="wrapper-button">
      <a
        href="/contact"
        class="button-primary"
      >
        Join Mod Squad
      </a>
      <a
        href="/mod-squad"
        class="button-secondary"
      >
        About Mod Squad
      </a>
    </div>
  </div>
</aside>
