---
---
<aside
  class="cta-card mod-card"
  role="complementary"
  aria-labelledby="modcta-title"
>
  <div class="cta-card-content">
    <h3 id="modcta-title" class="title-page white">
      Join the Mod<br />
      <span class="title-page highlight">Squad Today</span>
    </h3>
    <div class="wrapper-button">
      <a
        href="/get-started"
        class="button-primary"
      >
        Join the ModSquad
      </a>
      <a
        href="/mod-squad"
        class="button-secondary"
      >
        About the ModSquad
      </a>
    </div>
  </div>
</aside>
