<div class="cta-card mod-card">
    <div class="cta-card-content">
        <h3 class="title-page white">
            Join the Mod<br />
            <span class="title-page highlight">Squad Today</span>
        </h3>
        <div class="wrapper-button">
            <a
                href="/get-started"
                class="button-primary"
                aria-label="Join the Mod Squad"
            >
                Get Started
            </a>
            <a
                href="/services"
                class="button-secondary"
                aria-label="Learn More About Our Services"
            >
                Learn More
            </a>
        </div>
    </div>
</div>